*{
    margin: 0;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

a{
    /* position: absolute; */
    text-decoration: none;
    color: #FFFFFF;
    /* left: 0; */
    /* right: 0; */
    /* top: 0;
    bottom: 0; */
    display: flex;
    /* text-align: center; */
    align-items: center;
    display: inline-block;
}

.header-options-choices a:hover{
    color: #b8884e;
    background-color: white;
}

.website-container{
    background-color: #b8884e;
}

/* Header */
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #b8884e;
    color: #FFFFFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
}

.header-devfolio{
    width: 40%;

}

.header-options-choices{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    /* padding: 20px 0 20px 0; */
}

.header-options-choices a{
    height: 58.4px;
    line-height: 58.4px;
    padding: 0 20px;
}

.header-options-choices li{
    list-style: none;
}

/* Intro */

.intro-container{
    /* position: relative; */
    position: absolute;
    background-color: #b8884e;
    opacity: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.intro{
    position: relative;
    color: white;
    background-image: url(https://wallpapers.com/images/hd/dark-academia-harry-potter-1979apfla13d2edk.jpg);
    width: 100%;
    z-index: 1;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.intro-text{
    text-align: center;
    z-index: 1;
}

.intro-title{
    font-size: 50px;
}

.intro-subtitle{
    font-size: 40px;
}

/* Profile */
.profile{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border: 1px solid #d6b575;
    width: 75%;
    display: flex;
    padding-top: 20px;
    background-color: #d6b575;
}

.profile-bar{
    height: 5px;
    width: 156px;
    background-color: #171819;
}

.profile-image{
    width: 100px;
    height: 125px;
}

.profile-left{
    width: 50%;
    margin: 20px;
}

.profile-left li{
    list-style-type: none;
}

.profile-left-top{
    display: flex;
    margin-bottom: 20px;
    font-size: 16px;
}

.profile-left-top-content{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-right{
    width: 50%;
    margin: 20px;
    font-size: 18px;
}

.profile-right p{
    margin: 15px 0;
}

/* Services */
.hobbies{
    padding-top: 30px;
    text-align: center;
}

.hobby-line{
    width: 60px;
    height: 5px;
    background-color: #171819;
    margin: 5px auto 20px auto;
}

.hobbies-top{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    margin: 0 100px;
}

.hobby-container{
    border: 1px solid #986931;
    border-radius: 15px;
    width: 30%;
    background-color: #d6b575;
}

.hobby-all{
    margin: 60px 10px;
}

.hobby{
    border: 10px solid #F9E0BB;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 60px;
    margin: 0 auto;
    color: #884A39;
    transition: all 0.5s ease;
}

.hobby:hover{
    background-color: #FFC26F;
    border-color: #cfad69;
    color: white;
}

.hobbies-bottom{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    margin: 20px 100px;
}

.hobby-content{
    color: #884A39;
}

/* Statistics */
.statistics{
    position: relative;
    background-image: url("https://wallpaperaccess.com/full/5652415.png");
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    background-blend-mode: multiply;
}

.statistics-overlay{
    position: absolute;
    background-color: #d6b575;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 50%;
}

.statistics-container{
    text-align: center;
    z-index: 1;
}

.statistics-content{
    color: white;
    font-size: 25px;
    text-align: center;
}

.statistics-circle{
    border: 6px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    margin: 0 auto;
    color: white;
}

/* Work */
.work-title{
    margin: 40px auto;
    text-align: center;
}

.work-bar{
    width: 65px;
    height: 5px;
    background-color: #171819;
    margin: -30px auto 50px auto;
}

.work-rows{
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 40px;
    justify-content: space-around;
}

.work-image{
    width: 100%;
    /* object-fit: cover; */
    height: 300px;
}

.work-card{
    width: 25%;
    background-color: white;
    padding-bottom: 15px;
}

.work-wrapper{
    margin: 0 0 0 10px;
}

/* Feedback */
.feedback{
    background-image: url(img/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.feedback-overlay{
    position: absolute;
    background-color: #d6b575;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 45%;
    /* display: flex;
    justify-content: center; */
}

.feedback-content{
    text-align: center;
    z-index: 1;
    margin: 0 auto;
    width: 80%;
    color: black;
}

.feedback-content img{
    height: 150px;
    width: 165px;
    border-radius: 100px;
}

.feedback-content h2{
    font-weight: 500;
    margin: 15px 0;
}

.feedback-content p{
    font-size: 18px;
    font-weight: 400;
}

.feedback-icon{
    text-align: center;
    font-size: 32px;
    border: 6px solid white;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    line-height: 50px;
    background-color: white;
    margin: 10px auto;
}

/* Blog */
.blog-header{
    margin-top: 40px;
    text-align: center;
}

.blog-bar{
    height: 5px;
    width: 60px;
    background-color: #171819;
    margin: 5px auto 30px auto;
}

.blog-content{
    display: flex;
    margin: 0 40px;
    justify-content: space-evenly;
}

.blog-card{
    background-color: #FFF;
    border: 0px solid #FFF;
    width: 26%;
}

.card-image img{
    width: 100%;
}

.card-body{
    padding: 15px 8px;
}

/* Contact */
.contact{
    margin-top: 40px;
    position: relative;
    background-image: url(img/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
}

.contact-overlay{
    position: absolute;
    background-color: #d6b575;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 45%;
}

.contact-content{
    padding: 40px 0;
    background-color: white;
    margin: 0 auto;
    width: 70%;
    display: flex;
    /* height: 50%; */
}

.contact-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    z-index: 1;
}

.contact-left input{
    margin-top: 20px;
}

.contact-left textarea{
    margin-top: 20px;
}

.contact-left button{
    margin-top: 20px;
    /* width: 107px; */
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 32px;
}

.contact-right{
    width: 55%;
    margin-left: 30px;
    z-index: 1;
}

.contact-right p{
    margin-top: 20px;
}

.contact-right ul{
    margin-top: 20px;
    padding: 0;
}

.contact-right li{
    margin-top: 20px;
}

.contact-bar{
    height: 5px;
    width: 80px;
    background-color: #5e3e17;
}

.contact-left input{
    padding: 10px;
}

.contact-left textarea{
    padding-left: 10px;
}

/* Blog */
.blog-container{
    background-color: #FFC26F;
}

.blog-intro{
    background-image: url(./img/landscape.jpg);
    position: relative;
    width: 100%;
    z-index: 1;
    height: 250px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-overlay{
    background-color: #986931;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 70%;
}

.blog-text{
    font-size: 25px;
    color: white;
    z-index: 1;
}

.blog-main{
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
}

.travel-content{
    padding: 30px 30px 30px 30px;
    margin-left: 20px;
    background-color: #d6b575;
}

.travel-content h2{
    margin-bottom: 20px;
}

.travel-content p{
    margin-top: 20px;
}

.travel-content img{
    width: 100%;
}

.blog-left{
    width: 60%;
}

.blog-right{
    width: 30%;
    margin-left: 20px;
}

.blog-section{
    background-color: #d6b575;
    margin-bottom: 40px;
    padding: 20px;
}

.blog-contact{
    margin-top: 40px;
    background-color: #d6b575;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 40px 40px 20px 40px;
}

.blog-contact input{
    margin-top: 20px;
    padding: 10px;
}

.blog-contact textarea{
    margin-top: 20px;
}

.blog-contact button{
    margin-top: 20px;
    /* width: 107px; */
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 32px;
}

/* Gallery */
.gallery-container{

}

.gallery-intro{
    background-image: url(./img/firstimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    z-index: 1;
    height: 400px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gallery-overlay{
    background-color: #171819;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 70%;
}

.gallery-text{
    margin-left: 40px;
    font-size: 25px;
    color: white;
    z-index: 1;
}

.gallery-bar{
    height: 5px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
}

.gallery-section1{
    padding: 40px;
    background-color: #241b24;
    color: white;
    display: flex;
    justify-content: flex-start;
}

.gallery-section1-text{
    margin-left: 40px;
}

.gallery-bar2{
    height: 5px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
}

.gallery-section1-text p{
    font-size: 16px;
    margin-top: 20px;
}

.gallery-section2 img{
    display: inline-block;
    height: 400px;
    width: 40%;
}

.gallery-section2{
    display: flex;
    background-color: #120f12;
}

.gallery-section2-right{
    padding-top: 40px;
    width: 60%;
    color: white;
    font-size: 16px;
    margin-left: 20px;
}

.gallery-section2-right p{
    margin-top: 20px;
}

.gallery-section3 img{
    display: inline-block;
    height: 400px;
    width: 50%;
}

.gallery-section3{
    display: flex;
    background-color: #3d3232;
}

.gallery-section3-left{
    padding-top: 40px;
    width: 50%;
    color: white;
    font-size: 16px;
    margin-left: 20px;
}

.gallery-section3-left p{
    margin-top: 20px;
}

/* Blog 3 */
.artistic-container{
    background: rgb(241,72,33);
    background: linear-gradient(90deg, rgba(241,72,33,0.8436624649859944) 16%, rgba(124,228,238,1) 60%, rgba(246,250,86,1) 100%, rgba(64,122,45,1) 100%);
}

.artistic-intro{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.artistic-intro h1{
    position: relative;
    width: 21%;
}

.artistic-intro img{
    height: 300px;
    margin-left: 40px;
    opacity: 85%;
}

.artistic-bar{
    position: absolute;
    height: 2px;
    width: 145px;
    background-color: #120f12;
    z-index: 1;
    top: 165px;
}

.artistic-divider{
    height: 3px;
    width: 80%;
    background-color: black;
    margin: 0 auto;
}

/* First Section of Artistic */
.artistic-first{
    padding-top: 40px;
    display: flex;
    padding-bottom: 100px;
}

.artistic-first img{
    height: 300px;
    margin-left: 100px;
}

.artistic-fish{
    position: relative;
}

.artistic-fish img:hover{

}

.artistic-basketball{
    position: absolute;
    left: -50px;
    bottom: -60px;
}

.artistic-first-content{
    width: 40%;
    margin-left: 40px;
}

.artistic-button{
    background-color: rgba(124,228,238,0);
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 8px;
}

.artistic-button:hover{
    background-color: white;
    border-color: white;
}

/* Second section */
.artistic-second{
    padding: 40px 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.artistic-second-part{
    width: 30%;
}