.header{
    background-color: rgba(184, 136, 78, 0);
}

.header-options-choices a:hover{
    color: #000000;
    background-color: white;
}

.contact{
    margin-top: 0;
    padding-top: 40px;
}

.contact-overlay{
    background: rgb(241,72,33);
    background: linear-gradient(90deg, rgba(241,72,33,0.8436624649859944) 16%, rgba(124,228,238,1) 60%, rgba(246,250,86,1) 100%, rgba(64,122,45,1) 100%);
}