*{
    /* margin: 0; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* display: inline-block; */
    padding: 32px 30px;
    height: 100%;
    /* margin: 10px; */
}

a:hover{
    color: #1ECBF4;
    background-color: white;
    /* padding: 40px 10px; */
}

body{
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}


.header{
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    background-color: #1ECBF4;
    z-index: 10;
    color: white;
}

.header-mgr-mgl{
    margin: 0 auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    /* margin-right: 500px; */
    /* display: inline-block; */
    width: 50%;
}

.option{
    /* margin: 0 20px; */
    /* display: inline-block; */
    font-size: 16px;
    /* margin: 0 20px; */
}

.menu{
    /* display: inline-block; */
    font-size: 16px;
    display: flex;
    flex-direction: row;
    width: 49%;
}

.container{

}

.myclass-title{
    text-align: center;
    padding-top: 50px;
    background-color: #1ECBF4;
    color: white;
}

.title{
    /* text-align: center; */
    margin-top: 50px;
    margin-bottom: 20px;
}

.sub-title{
    /* text-align: center; */
    margin-bottom: 20px;
}

.register-email{
    /* text-align: center; */
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.email{
    width: 500px;
    height: 50px;
    /* display: inline-block; */
}

.follow{
    width: 150px;
    height: 55px;
    /* display: inline-block; */
    line-height: 50px;
    background-color: red;
    color: white;
}

/*Gioi thieu*/
.gioithieu{
    background-color: white;
    padding: 60px 50px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.introcontact{
    background-color: #6c757d;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: -3px !important;
}


.introcontent{
    /* display: inline-block; */
    width: 65%;
}

.icon-introduction {
    /* display: inline-block; */
    margin-left: 20px;
}

.signallogo{
    font-size: 200px !important;
    color: #1ecbf4 !important;
    /* display: inline-block !important; */
    /* text-align: right !important; */
}

/*Gia tri*/

.giatri{
    background-color: #f6f6f6;;
    padding: 60px 50px;
    color:black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.values-myclass{
    /* display: inline-block; */
    width: 65%;
}

.formattext{
    margin: 25px 0;
    /* display: inline-block; */
}

.icon-value{
    display: inline-block;
    margin-right: 20px;
}

.globelogo{
    font-size: 200px !important;
    color: #1ecbf4 !important;
    /* display: inline-block !important; */
    /* text-align: left !important; */
}

/* Dich Vu */
.service{
    background-color: white;
    color: black;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.service-title{
}

.service-rows{
    display: flex;
    /* margin-left: -15px;
    margin-right: -15px; */
    justify-content: space-between;   
    flex-wrap: wrap;
    width: 900px;
    margin: 20px auto;

}


.service-content{
    width: 250px;
    margin: 10px 0;

}

.service-logo{
    font-size: 40px !important;
    color: #1ecbf4 !important;
    margin-bottom: 20px;
}

/* Du an tieu bieu */
.typify-projects{
    background-color: white;
    color: black;
    padding: 100px 0;
    /* flex-direction: column; */

}

.projects-title{
    text-align: center;
 
}

.project-content{
    margin: 40px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.project-images{
    text-align: center;
}

.feedback{
    background-color: white;
    color: black;
}

.feedback-title{
    text-align: center;
}

.feedback-box{
    padding: 100px 40px;
    background-color: #f3f3f3;
    /* display: flex;
    justify-content: space-between; */
    width: 90%;
    margin: 20px auto;
    position: relative;
}

.feedback-content{
    font-size: 30px;
    text-align: center;
}

.feedback-previous{
    font-size: 70px;
    color: cyan;
    position: absolute;
    left: 20px;
    top: 50%;
    transform:translate(0,-50%)
}

.feedback-next{
    font-size: 70px;
    color: cyan;
    position: absolute;
    right: 20px;
    top: 50%;
    transform:translate(0,-50%)
}

/* Bang gia */
.price{
    background-color: white;
    color: black;
    padding-top: 80px;
    padding-bottom: 40px;
}

.price-title{
    text-align: center;
}

.price-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;

}

.basic{
    border-style: solid;
    border-bottom: none;
    border-width: 1px;
    border-color: #1ECBF4;
    /* height: 600px;
    width: 400px; */
    text-align: center;
    position: relative;
    width: 27%;
}

.basic-title{
    border: 1px solid #1ECBF4;
    background-color: #1ECBF4;
    /* height: 100px; */
    color: white;
    text-align: center;
    padding: 10px 75px;
}

.basic-content{
    border: 1px solid #1ECBF4;
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-price{
    border: 1px solid #1ECBF4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

/* .standard{
    border-style: solid;
    border-width: 1px;
    border-color: #1ECBF4;
    height: 600px;
    width: 400px;
    text-align: center;
}

.standard-title{
    border-bottom: solid;
    border-width: 1px;
    border-color: #1ECBF4;
    background-color: #1ECBF4;
    height: 100px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.standard-content{
    border-bottom: solid;
    border-width: 1px;
    border-color: #1ECBF4;
    height: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.standard-price{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.premium{
    border-style: solid;
    border-width: 1px;
    border-color: #1ECBF4;
    height: 600px;
    width: 400px;
    text-align: center;
}

.premium-title{
    border-bottom: solid;
    border-width: 1px;
    border-color: #1ECBF4;
    background-color: #1ECBF4;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.premium-content{
    border-bottom: solid;
    border-width: 1px;
    border-color: #1ECBF4;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.premium-price{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.price-button{
    background-color:#1ECBF4;
    font-size: 20px;
    padding: 5px 20px;
}

.price-content-formatting{

}

.price-content-formatting li{
    font-size: 25px;
    margin: 20px 0;
}

.basic-price h2{
    margin: 0;
}

.basic-price p{
    margin-top: 5px;
    margin-bottom: 16px;
}

/* LIEN HE */
.contact{
    background-color: #f3f3f3;
    color: black;
    padding: 60px 50px;
}

.contact-title{
    text-align: center;
}

.contact-content{
    display: flex;
}

.contact-info{
    width: 45%;
    font-size: 15px;
    margin-left: 20px;
}

.contact-input{
    width: 55%;
}

.contact-input-name{
    /* margin-right: 15px; */
    width: 48%;
}

.contact-input-email{
    width: 49%;
}

.contact-input-row{
    margin-bottom: 20px;
}

.contact-input-row input{
    /* padding: 10px 0;
    padding-right: 200px; */
}

.contact-note{
    padding: 50px 0;
    width: 100%;
    position: relative;
}

.contact-button{
    position: absolute;
    right: 46px;
    padding: 10px;
}