* {
	margin: 0;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
	margin: 0 auto;
	width:  900px;
}

.container{
	color: #183A1D;
}

.anh{
	width: 100px;
	height: 100px;
}

p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.caption{
	text-align: center;
	font-size: 14px;
}