/* PC */
@media (min-width: 1024px){

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .header{
        flex-direction: column;
    }

    .header-devfolio{
        width: 100%;
        text-align: center;
    }

    .header-options-choices{
        width: 100%;
        justify-content: space-around;
    }

    .header-options-choices{
        padding: 0;
    }

    .header-options-choices a{
        height: 58.4px;
        line-height: 58.4px;
    }

    .header-options-choices li{
        width: 75.15px;
    }
}

@media (max-width: 739px){
    .header{
        flex-direction: column;
    }

    .header-devfolio{
        width: 100%;
        text-align: center;
    }

    .header-options-choices{
        width: 100%;
        justify-content: space-around;
    }

    .header-options-choices{
        padding: 0;
    }

    .header-options-choices a{
        height: 58.4px;
        line-height: 58.4px;
    }

    .header-options-choices li{
        width: 75.15px;
    }

    .hobbies-top{
        flex-direction: column;
        margin: 0;
    }   

    .hobbies-bottom{
        flex-direction: column;
        margin: 0;
    }

    .hobby-container{
        width: 50%;
        margin: 0 auto 20px auto;
    }

    .work-card{
        width: 50%;
        margin: 0 auto 20px auto;
    }

    .work-rows{
        flex-direction: column;
        margin: 0px;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-card{
        margin: 0 auto 20px auto;
        width: 50%;
    }
}