/* PC */
@media (min-width: 1024px){

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .header{
        flex-direction: column;
    }

    .header-devfolio{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .header-options-choices{
        width: 100%;
        justify-content: space-around;
    }

    .header-options-choices{
        padding: 0;
    }

    .header-options-choices a{
        height: 58.4px;
        line-height: 58.4px;
        padding: 0px 0px;
    }

    .header-options-choices li{
        width: 75.15px;
    }

    .profile{
        width: 90%;
    }

    .hobbies-top{
        flex-direction: column;
        margin: 0;
    }   

    .hobbies-bottom{
        flex-direction: column;
        margin: 0;
    }

    .hobby-container{
        width: 50%;
        margin: 0 auto 20px auto;
    }

    .work-card{
        width: 50%;
        margin: 0 auto 20px auto;
    }

    .work-rows{
        flex-direction: column;
        margin: 0px;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-card{
        margin: 0 auto 20px auto;
        width: 50%;
    }

    .statistics{
        flex-wrap: wrap;
    }

    .contact-content{
        flex-direction: column-reverse;
        width: 90%;
    }

    .contact-left{
        width: 90%;
        margin-bottom: 20px;
    }

    .contact-right{
        width: 90%;
        margin-bottom: 20px;
    }

    .blog-text{
        margin-top: 60px;
    }

    .gallery-section2{
        flex-direction: column;
    }

    .gallery-section2 img{
        width: 100%;
    }

    .gallery-section2-right{
        width: 100%;
        padding: 20px 0;
    }

    .gallery-section3{
        flex-direction: column-reverse;
    }

    .gallery-section3 img{
        width: 100%;
    }

    .gallery-section3-left{
        width: 100%;
        padding: 20px 0;
    }

    .artistic-header{
        flex-direction: column;
    }

    .artistic-header-devfolio{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .artistic-header-options-choices{
        width: 100%;
        justify-content: space-around;
    }

    .artistic-header-options-choices{
        padding: 0;
    }

    .artistic-header-options-choices a{
        height: 58.4px;
        line-height: 58.4px;
    }

    .artistic-header-options-choices li{
        width: 75.15px;
    }

    .artistic-first{
        justify-content: center;
    }

    .artistic-first img{
        margin-left: 0px;
    }
}

/* Big Phone */

@media (max-width: 740px){
    .header{
        flex-direction: column;
    }

    .header-devfolio{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .header-options-choices{
        width: 100%;
        justify-content: space-around;
    }

    .header-options-choices{
        padding: 0;
    }

    .header-options-choices a{
        height: 58.4px;
        line-height: 58.4px;
        padding: 0px 0px;
    }

    .header-options-choices li{
        width: 75.15px;
    }

    .profile{
        width: 90%;
    }

    .hobbies-top{
        flex-direction: column;
        margin: 0;
    }   

    .hobbies-bottom{
        flex-direction: column;
        margin: 0;
    }

    .hobby-container{
        width: 50%;
        margin: 0 auto 20px auto;
    }

    .work-card{
        width: 50%;
        margin: 0 auto 20px auto;
    }

    .work-rows{
        flex-direction: column;
        margin: 0px;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-card{
        margin: 0 auto 20px auto;
        width: 50%;
    }

    .statistics{
        flex-wrap: wrap;
    }

    .contact-content{
        flex-direction: column-reverse;
        width: 90%;
    }

    .contact-left{
        width: 90%;
    }

    .contact-right{
        width: 90%;
        margin-bottom: 20px;
    }

    .blog-text{
        margin-top: 60px;
    }

    .gallery-section2{
        flex-direction: column;
    }

    .gallery-section2 img{
        width: 100%;
    }

    .gallery-section2-right{
        width: 100%;
        padding: 20px 0;
    }

    .gallery-section3{
        flex-direction: column-reverse;
    }

    .gallery-section3 img{
        width: 100%;
    }

    .gallery-section3-left{
        width: 100%;
        padding: 20px 0;
    }

    .artistic-header{
        flex-direction: column;
    }

    .artistic-header-devfolio{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .artistic-header-options-choices{
        width: 100%;
        justify-content: space-around;
    }

    .artistic-header-options-choices{
        padding: 0;
    }

    .artistic-header-options-choices a{
        height: 58.4px;
        line-height: 58.4px;
    }

    .artistic-header-options-choices li{
        width: 75.15px;
    }

    .artistic-first{
        justify-content: center;
    }

    .artistic-first-content{
        width: 100%;
    }

    .artistic-first img{
        display: none;
    }

    .artistic-bar{
        display: none;
    }

    .artistic-second{
        flex-direction: column;
    }

    .artistic-second-part{
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 600px){

    .header-options-choices{
        font-size: 12px;
    }

    .header-options-choices li{
        width: auto;
    }

    .header-options-choices a{
        padding: 0;
    }

    .profile{
        flex-direction: column;
    }

    .profile-left{
        width: 90%;
    }

    .profile-right{
        width: 90%;
    }

    .feedback-content img{

    }

    .hobby-container{
        width: 90%;
    }

    .work-card{
        width: 90%;
    }

    .blog-card{
        width: 90%;
    }

    .blog-main{
        flex-direction: column;
    }

    .blog-left{
        width: 95%;
    }

    .blog-right{
        width: 95%;
        margin: 40px auto;
    }

    .blog-text{

    }

    .gallery-section2{
        flex-direction: column;
    }

    .gallery-section2 img{
        width: 100%;
    }

    .gallery-section2-right{
        width: 100%;
        padding: 20px 0;
    }

    .gallery-section3{
        flex-direction: column-reverse;
    }

    .gallery-section3 img{
        width: 100%;
    }

    .gallery-section3-left{
        width: 100%;
        padding: 20px 0;
    }

    .artistic-header-options-choices{
        font-size: 12px;
    }

    .artistic-header-options-choices li{
        width: auto;
    }

    .artistic-header-options-choices a{
        padding: 0;
    }

    .artistic-intro{
        flex-direction: column-reverse;
    }

    .artistic-intro h1{
        width: 100%;
        text-align: center;
    }

    .artistic-intro img{
        height: 100px;
    }

    .artistic-second{
        flex-direction: column;
    }

    .artistic-second-part{
        width: 100%;
        margin-bottom: 40px;
    }
}